github "Alamofire/Alamofire" >= 4.4
github "tristanhimmelman/AlamofireObjectMapper" >= 4.1.0
github "onevcat/Kingfisher" >= 4.1.0
github "xmartlabs/XLPagerTabStrip" >= 7.0
github "Tovkal/ImageViewer" >= 0.1
github "DaveWoodCom/XCGLogger"
github "Daltron/NotificationBanner"
github "httpswift/swifter" "stable"
github "SVProgressHUD/SVProgressHUD" >= 2.2.1
github "hackiftekhar/IQKeyboardManager"
github "kishikawakatsumi/KeychainAccess"
github "PiXeL16/IBLocalizable" "Swift4"
# github "realm/realm-cocoa"
# Use fork until realm rebuilds or releases a new version with prebuild framework using Swift 4.0.3
github "tovkal/realm-cocoa"
