github "Alamofire/Alamofire" >= 4.4
github "tristanhimmelman/AlamofireObjectMapper" >= 4.1.0
github "onevcat/Kingfisher" >= 5.0
github "xmartlabs/XLPagerTabStrip" >= 7.0
github "Tovkal/ImageViewer" >= 0.1
github "DaveWoodCom/XCGLogger"
github "Daltron/NotificationBanner"
github "httpswift/swifter" "stable"
github "SVProgressHUD/SVProgressHUD" >= 2.2.1
github "hackiftekhar/IQKeyboardManager" "v5.0.6"
github "kishikawakatsumi/KeychainAccess"
github "PiXeL16/IBLocalizable" "Swift4"
github "realm/realm-cocoa"
github "SnapKit/SnapKit"
github "scenee/FloatingPanel"