github "Alamofire/Alamofire" "4.8.2"
github "Alamofire/AlamofireImage" "3.5.2"
github "alexaubry/BulletinBoard" "4.1.0"
github "Daltron/NotificationBanner" "3.0.0"
github "DaveWoodCom/XCGLogger" "7.0.0"
github "hackiftekhar/IQKeyboardManager" "v5.0.6"
github "httpswift/swifter" "stable"
github "kishikawakatsumi/KeychainAccess" "v3.2.0"
github "jaharabari/IBLocalizable" "swift5"
github "marmelroy/Zip" "1.1.0"
github "onevcat/Kingfisher" "5.8.3"
github "realm/realm-cocoa" "v3.19.0"
github "robb/Cartography" "4.0.0" 
github "rzulkoski/AlamofireObjectMapper" "migrate-to-swift-4"
github "scenee/FloatingPanel" "v1.7.1"
github "SVProgressHUD/SVProgressHUD" "2.2.5"
github "TimOliver/TOCropViewController" "2.5.1"
github "Tovkal/ImageViewer" "0.1.4"
github "xmartlabs/XLPagerTabStrip" "9.0.0"
github "getsentry/sentry-cocoa" "5.2.2"
