//
//  Debug.xcconfig
//  OpenFoodFacts
//
//  Created by Andrés Pizá Bückmann on 20/08/2017.
//  Copyright © 2017 Andrés Pizá Bückmann. All rights reserved.
//

GET_ENDPOINT=https:/$()/ssl-api.openfoodfacts.org
POST_ENDPOINT=https:/$()/world.openfoodfacts.net
LOGIN_ENDPOINT=https:/$()/world.openfoodfacts.org/cgi/session.pl
